.faucet_input {
	display: flex;
	max-width: 498px;
	width: 100%;
	gap: var(--space-2);
	text-align: center;
}

.faucet_input_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-2);
	width: 100%;
}

@media only screen and (min-width: 744px) and (max-width: 1279px) {
	.faucet_input {
		max-width: 332px;
	}
}

@media only screen and (max-width: 744px) {
	.faucet_input {
		max-width: 100%;
	}
}
