#root {
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
}

.wrapper-content {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
	background: linear-gradient(180deg, var(--color-gray-25) 0%, var(--color-gray-50) 70.12%);
}