:root {
	--font-family-primary: 'DM_Sans', sans-serif;
	--header-height: 48px;
	--footer-height: 72px;
	--footer-mobile-height: 248px;

	--space-1: 4px; /* space-0.25 */
	--space-2: 8px; /* space-0.5 */
	--space-3: 12px; /* space-0.75 */
	--space-4: 16px; /* space-1 */
	--space-5: 24px; /* space-1.5 */
	--space-6: 32px; /* space-2 */
	--space-7: 40px; /* space-2.5 */
	--space-8: 48px; /* space-3 */
	--space-9: 64px; /* space-4 */
	--space-10: 96px; /* space-6 */
	--space-11: 128px; /* space-8 */

	--white: #fcfcfd;
	--black: #101828;
	--color-discord: #5865f2;
	--color-discord-dark: #5925e6;
}
